<div class="footer">
  <div style="float: left; width: 40%">
    <h2>Support Server</h2>
    <p>Join the the support guild if you have any questions. We are here to help.</p>
    <p><a class="btn btn-secondary" href="https://discord.gg/6aKBJQR" role="button">Join Server <i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i></a></p>
  </div>
  <div style="float: left; width: 20%; padding-top: 100px;">
    © Yin-Yang-Project 2019 ~ Danno3817
  </div>
  <div style="float: right; width: 40%">
    <h2>Source Code</h2>
    <p>Click the button below to get the code. You will need to configure some stuff.</p>
    <p><a class="btn btn-secondary" href="https://github.com/DetroitWhiskey136/yin-yang-calss" role="button">GitHub <i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i></a></p>
  </div>
</div>