/* Footer Stuff */
.footer {
  padding: 5px 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  color: white;
  text-align: center;
  vertical-align: middle;
}


















